

  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
width: 100px;
height: 50px;
background-color: #1565c0;
border: none;
outline: none;
color: white;
}
.homefont{
    color: #01BAEF;
    text-shadow: -2px 5px 9px black;
    font-family: 'Alfa Slab One', serif;
}
.dash-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background: url('/src/assets/images/jon-tyson-hhq1Lxtuwd8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; */
    background: rgb(36, 37, 38);
    background: linear-gradient(180deg, rgb(40, 40, 41) 0%, rgb(1, 14, 22) 100%); 
}
.dash-card{
    width: 20vw;
    height: 45vh;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.532);
    box-shadow: -5px 3px 10px 2px rgba(1, 1, 1, 0.471);
}

.dash-card-icon{ 
    position: relative;
    top: 3vh;
    align-self: center;
    border-radius: 50px 50px 0 0 ;

}

.dash-list-icon{
    width: 150px !important;
    height: 150px !important;
    color: rgba(255, 255, 255, 0.646);
}
.dash-list-icon:hover{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* color: rgb(7, 55, 83); */
    color: teal;
    transform: scale(1.1);
}
.topic-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    top: 25dvh;
    left: 35dvw;
}
.all-topic-list{
    width: 30vw;
    max-height: 20vh;
    color: white;
    font-size: 1.15rem;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 0 0 5px 5px;
    backdrop-filter: blur(5px);
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.378);
    border-top: none;
   
}
.all-topic-list li{
    width: 30vw;
    outline: 1px solid rgba(255, 255, 255, 0.704);
    list-style: none;
    text-align: center;
}
.all-topic-list li:hover{
    background-color: #1976d27a; 
}
#input-field{
    font-size: 1.15rem;
    text-align: center;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.704);
    height: 50px;
    backdrop-filter: blur(5px);
    margin: 10px 0;
}
#app-font-color{
    color: teal;
}
.input-color{
    opacity: 75%;
}
.all-quiz-table{
    width: 50dvw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.849);
    border: none;
    outline: none;
    border-collapse: collapse;
    border-radius: 10px;
    margin-left: 25vw;
    margin-top: 15vh;
    box-shadow: -5px 7px 9px 7px rgba(0, 18, 18, 0.553);
    overflow:scroll;
}

.all-quiz-table tr{
    width: auto;
    border: none;
    outline: none;
    background-color: rgb(28, 27, 27);
    color: white;
}
.all-quiz-table td{
   border: none;
   border-bottom: 1px solid white;
    padding: 10px;
    text-align: center;
}
.all-quiz-table th{
    position: sticky;
    top: 0;
    color: rgb(236, 233, 233);
    background-color: rgb(27, 45, 65);
   text-align: center;
   z-index: 99;
}
.all-quiz-table tr:hover{
    background-color: rgb(46, 45, 45);
    color: white;
}
.table-container{
    height: 50vh;
    overflow: scroll;
}
#home-btn{
    position: absolute;
    top: 2dvh;
    left: 2dvw;
}
.confirm-modal{
    position: absolute;
    top: 3vh;
    right: 5vw;
    width: auto;
    padding: 0 2vw;
    height: 8vh;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: rgba(15, 103, 235, 0.798);
    box-shadow: -2px 3px 8px 2px rgba(0, 0, 0, 0.463);
   animation:drop-in  1.5s;
}
@keyframes drop-in {
    from{
        opacity: 20%;
        top: 0;
    }
}
.quiz-container{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    color: white;
}
.list-flex{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 10vw;
    font-size: 1.25rem;
    font-weight: lighter;
}
.question-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 55vh;
    width: auto;
    color: white;
}
.question-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-height: 10vh;
    font-size: 2rem;
    background-color: #33312e;
    outline:3px solid #662c91;
    color: white;
    border: none;
    border-radius: 10px;
}
.option-card-container{
    width: 50vw;
    min-height: 5vh;
    font-size: 2rem;
    text-align:center;
    outline: 3px solid #33312e;
    background-color: #662c91;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
}
.option-card-container:hover{
outline: 4px solid white;
background-color: rgba(245, 245, 245, 0.911);
color: #662c91;
}
.option-card-container:active{
    background-color:#710dbe;
    color: white;
    outline: 2px solid white;
}

.topic-card-container{
    display: grid;
    grid-template-rows: min-content;
    justify-content: center;
    row-gap: 20px;
    width: 85vw;
    height: 90vh;
    margin-left: 20vw;
    overflow: scroll;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10vh;
}
.topic-card{
    display: flex;
    flex-direction: column;
 justify-content: center;
    color: white;
    width: 25vw;
    height: 15vh;
    text-align: center;
    align-items: center;
    margin-bottom: auto;
    border: 1px solid black;
    background-color: #20283b;
    border-radius: 5px;
    box-shadow: -2px 3px 8px 2px rgba(0, 0, 0, 0.463);
    border: none;
    outline: none;
}
.topic-card:hover{
    scale: 1;
    transform: translateY(5px);
}